@{
    ViewBag.Title = "DisposalList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ChameleonMVC.Controllers
@using ChameleonMVC.Models
@model IEnumerable<vw_DisposalList>
@*<link href="~/assets/css/bootstrap.css" rel="stylesheet" />*@


<script>
    $(document).ready(function () {
        $("#tblDisposalList").DataTable();
    });

    function Detail(button) {
        $(document).ready(function () {
            var trHTML = '';
            var row = $(button).closest("TR");
            var NoDisposalSend = $("TD", row).eq(1).html();
            var StatusSend = $("TD", row).eq(4).html();
            window.location.href = "CreateDisposal?NoDisposal=" + NoDisposalSend + "&Status=" + StatusSend;

        });
    }
</script>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="container">
        <div id="divCAPAList">
            <h1>List Disposal</h1>
            <div class="row">
                <div class="col-md-12">
                    <table id="tblDisposalList" class="display" border="1">
                        <thead style="background-color:#156898;">
                            <tr>
                                <th width="25px" style="color:white;">No</th>
                                <th width="100px" style="color:white;">No Disposal</th>
                                <th width="100px" style="color:white">Lokasi CAPA</th>
                                <th width="300px" style="color:white">Alasan Lelang</th>
                                <th width="100px" style="color:white">Status Lelang</th>
                                <th width="50px" style="color:white">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>@obj.No</td>
                                    <td>@obj.NoDisposal</td>
                                    <td>@obj.Lokasi</td>
                                    <td>@obj.AlasanLelang</td>
                                    <td>@obj.Status</td>
                                    <td>
                                        <button id="btnDetail" value="Detail" onclick="Detail(this)">
                                            <span><strong>Detail</strong></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <br />
    </div>
    <header class="main-header">
        <nav class="navbar navbar-static-top">

        </nav>
    </header>

</body>